<h2><%= @tasks.title %></h2>
<p><%= @tasks.details %></p></br>
<% if @tasks.completed %>
       <i class="fas fa-check-square"></i>
    <% else %>
        <i class="far fa-square"></i>
    <%end%>
</br>
<%= link_to 'Go back to index', tasks_path %> </br>
<%= link_to 'Edit this task', edit_task_path(@tasks)%>